<%=link_to("Edit", edit_product_path(@product.id)) %> |
<%=link_to("Delete", product_path(@product.id), method: :delete, data: {confirm: "Are you sure you want to delete?"}) %>

<p><%=@product.name%>, <%=@product.description%>, <%=@product.price_in_dollars%></p>


<!--ADD NEW REVIEW  -->

<h4>New Review</h4>

<%= render 'form', review: @review %>

<% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
   </ul>
 </div>
<% end %>



<!--LIST existing reviews  -->
<div class="Reviews">

 <ol>
   <% @product.reviews.each do |review| %>
   <li>
     <%=link_to("Edit", edit_product_review_path(@product, review)) %> |
     <%=link_to("Delete",product_review_path(@product, review), method: :delete, data: {confirm: "Are you sure you want to delete?"}) %>
     <p><%= review.created_at %></p>
      <p><%= review.comment %></p>
      <p><%= review.rating %></p>
   </li>
   <% end %>
 </ol>

</div>

<
